* {
  border: 0;
  padding: 0;
}

.boxGame {
  width: 100%;
  height: 250px;
}

.info {
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-size: 1.5rem;
}

.inputSec {
  display: flex;            
  justify-content: center;   
  gap: 12px;                
  margin-bottom: 12px;       
}
.inputSec input {
 margin-bottom: 12px;
 font-family: "Science Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 20%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.inputSec input:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
  }
  
.inputSec select {
  font-family: "Science Gothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 20%;               /* samma som dina inputs */
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
              outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  cursor: pointer;
}

.inputSec select:focus {
  outline-color: #161616;
}
